@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, ul, li{
  margin-top: 0;
  margin-bottom: 0;
}

ul li,
ol li{
  list-style: none;
}

button{
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.container{
  max-width: 1296px;
  margin: 0 auto;
}